services:
  mongodb:
    image: mongo:7
    container_name: sde_mongodb
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: sde_messages
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
